<div class="layui-fluid">
  <form class="layui-form" action="">
    <div class="layui-form-item">
      <div class="layui-input-block">
        <a class="layui-btn " lay-filter="sure-btn" target="_top" href="#/sysd/menu/boaction/ADD">新增一级</a>
        <button type="button" class="layui-btn  open-all">全部展开</button>
        <button type="button" class="layui-btn  close-all">全部关闭</button>
      </div>
    </div>
    <div>
      <table class="layui-table layui-form" id="LAYUI_tree-table_DOM___________" lay-size="sm" ></table>
    </div>
  </form>
</div>

<script type="text/javascript">
  layui.use(['treeTable','layer','code','form'],function(){
    var $ = layui.jquery,
            o = layui.$,
            form = layui.form,
            layer = layui.layer,
            treeTable = layui.treeTable;
    // 直接下载后url: './data/table-tree.json',这个配置可能看不到数据，改为data:[],获取自己的实际链接返回json数组
    var	re = treeTable.render({
      elem: '#LAYUI_tree-table_DOM___________',
      url: '/sysd/menu/list/data/',

      is_checkbox: false,
      icon_key: 'name',
      primary_key: 'id',
      parent_key: 'upperId',

      end: function(e){
        form.render();
      },
      cols: [
        {
          key: 'name',
          title: '名称',
          width: '160px',
          template: function(item){
            if(item.levels == 1){
              return '<span style="color:red;">'+item.name+'</span>';
            }else if(item.levels == 2){
              return '<span style="color:green;">'+item.name+'</span>';
            }else if(item.levels == 3){
              return '<span style="color:#aaa;">'+item.name+'</span>';
            }
          },
        },
        {
          key: 'id',
          title: 'ID',
          width: '100px',
          align: 'center',
        },{
          key: 'url',
          title: 'URL',
          width: '200px',
          align: 'center',
        },{
          key: 'codesetMenutype',
          title: '菜单类型',
          width: '200px',
          align: 'center',
        },{
          key: 'seq',
          title: '次序',
          width: '100px',
          align: 'center',
        },{
          key: 'icon',
          title: '图标',
          width: '200px',
          align: 'center',
        }, {
          key: 'codesetGstatus',
          title: '状态',
          width: '100px',
          align: 'center',
        },{
          title: '操作',
          align: 'center',
          template: function(item){
            return '<a class="layui-btn layui-btn-xs" lay-filter="tabset_status">设置状态</a>'+
                    '<a href="javascript:;" class="layui-btn layui-btn-xs" lay-filter="tabset_edit">编辑</a>'+
                    '<a href="javascript:;" class="layui-btn layui-btn-xs" lay-filter="tabset_list2">下级</a>';
          },
        },
      ]
    });

    treeTable.on('tree(tabset_status)',function(obj){
      var data = obj.item //获得当前行数据
              ,layEvent = obj.event; //获得 lay-event 对应的值
      layer.confirm('将要设置本数据状态吗？', function(index){
        $.post('/sysd/menu/bo/status', "id="+data.id, function (res) {
          layer.msg("设置成功",{time:1*1000},function(){
            location.reload(); // 页面刷新
          })
        }, 'json');
      });
    });

    treeTable.on('tree(tabset_edit)',function(obj){
      var data = obj.item //获得当前行数据
              ,layEvent = obj.event; //获得 lay-event 对应的值
      $(this).attr("href" ,'#/sysd/menu/boaction/EDIT?id='+data.id);
    });

    treeTable.on('tree(tabset_list2)',function(obj){
      var data = obj.item //获得当前行数据
              ,layEvent = obj.event; //获得 lay-event 对应的值
      $(this).attr("href" ,'#/sysd/menu/boaction/ADD?pid='+data.id+'&plevels='+data.levels);
    });

    // 监听自定义

    // 全部展开
    o('.open-all').click(function(){
      treeTable.openAll(re);
    })
    // 全部关闭
    o('.close-all').click(function(){
      treeTable.closeAll(re);
    })

  })
</script>

