<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-header">
          <a href="#/demo/list" title="返回列表">
            <i class="layui-icon">&#xe65c;</i>
          </a>
          <span>${SHOWTITLE}</span>
          
        </div>
        <div class="layui-card-body">
          <form class="layui-form" action="">
          	<input type="hidden" name="ACTIONMODE" value="${ACTIONMODE}">
            <input type="hidden" name="encCode" value="<#if vo ??>${vo.encCode}</#if>"/>
            <div class="layui-form-item">
              <label class="layui-form-label">姓名</label>
              <div class="layui-input-block">
                <input type="text" name="name" value ="<#if vo ??>${vo.name}</#if>" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
              </div>
            </div>
            
            <div class="layui-form-item">
              <label class="layui-form-label">积分</label>
              <div class="layui-input-block">
                <input type="text" name="point" value ="<#if vo ??>${vo.point}</#if>" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
              </div>
            </div>
            
            <div class="layui-form-item">
              <label class="layui-form-label">存款</label>
              <div class="layui-input-block">
                <input type="text" name="deposit" value ="<#if vo ??>${vo.deposit}</#if>" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">选择框</label>
              <div class="layui-input-block">
                <select name="city" >
                  <option value=""></option>
                  <option value="0">北京</option>
                  <option value="1">上海</option>
                  <option value="2">广州</option>
                  <option value="3">深圳</option>
                  <option value="4">杭州</option>
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">性别</label>
              <div class="layui-input-block">
                <select name="codesetSex" lay-verify="required" >
                <#list SEXLIST! as sex>
				          <option value="${sex.codeKey}" <#if vo ??><#if vo.codesetSex == sex.codeKey >selected</#if></#if> >${sex.name}</option>
								</#list>
				        </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">开关</label>
              <div class="layui-input-block">
                <input type="checkbox" name="switch" lay-skin="switch">
              </div>
            </div>

            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">备注</label>
              <div class="layui-input-block">
                <textarea name="descp" placeholder="请输入内容" class="layui-textarea"><#if vo ??>${vo.descp}</#if></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="form_hash">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['table','jquery','form'], function () {  	
  	var $ = layui.jquery,
    form = layui.form;
    form.render();
    //监听提交
    form.on('submit(form_hash)', function (data) {
      $.post('/demo/bo/save', data.field, function (res) {
			  if (res==1) {
		      layer.open({
		        type: 1
		        ,title: '操作成功' 
		        ,closeBtn: false
		        ,area: '300px;'
		        ,shade: 0.8
		        ,id: 'VO_ACTION' //设定一个id，防止重复弹出
		        ,btn: ['确定']
		        ,btnAlign: 'c'
		        ,moveType: 1 //拖拽模式，0或者1
		        ,yes: function(index){
		        	console.log("index----------"+index);
        			layer.close(index);      			
        			parent.location.reload(); // 页面刷新
        			//showToast();
        			
    				},
    				btn2: function(){
    				//console.log("parent.layer-"+parent.layer);
    				//console.log("Window.name-"+window.name);
    				//	var  index= parent.layer.getFrameIndex(window.name);
    				//	console.log("index-"+index);
    					//parent.layer.close(index);
    				//	window.close();
    				//	var str = JSON.stringify(parent.layer);
    					//var tab = parent.tab;
    				//	console.log("str-"+str);
    					//tab.close(tab.getId());
    				//	parent.layer.close(parent.layer.zIndex);
    				//	var description = ""; 
						//	for(var i in parent){ 
						//		var property=parent[i]; 
						//		description+=i+" = "+property+"\n"; 
						//	} 
						//	console.log("obj:"+description);

    					parent.location.reload(); // 页面刷新
    				}
		      });
				}else{
					layer.msg("操作失败，请稍后重试", {time: 2000});
				}
			}, 'json');
      return false;
    });
  });

</script>
<style>
</style>