<!-- 模板 -->
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-header">
          <!-- <span>所有会员列表</span> -->
          <a href="#/demo/boaction/ADD" class="layui-btn layui-btn-xs">
            <i class="layui-icon">&#xe654;</i>
            <span>新增</span>
          </a>
          <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="search_hash">
            <i class="layui-icon">&#xe615;</i>
          </a>
        </div>
        <div class="layui-card-body">
          <table id="data_hash" lay-filter="list_action"></table>
          <script type="text/html" id="toolbar_hash">
              <a class="layui-btn layui-btn-xs" lay-event='status'>设置状态</a>
              <a href="javascript:;" class="layui-btn layui-btn-xs" lay-event='edit'>编辑</a>
              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event='del'>删除</a>
            </script>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="search_tpl_hash">
  <form class="layui-form" action="">
    <div class="layui-form-item">
      <label class="layui-form-label">用户名</label>
      <div class="layui-input-block">
        <input type="text" name="name"  placeholder="请输入用户名.." autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">城市</label>
      <div class="layui-input-block">
        <select name="city">
          <option value=""></option>
          <option value="0">北京</option>
          <option value="1">上海</option>
          <option value="2">广州</option>
          <option value="3">深圳</option>
          <option value="4">杭州</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">数据状态</label>
      <div class="layui-input-block">
        <input type="radio" name="status" value="G_STATUS_USE" title="可用" checked>
        <input type="radio" name="status" value="G_STATUS_NOUSE" title="禁用" >
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="form_hash"><i class="layui-icon">&#xe615;</i> 搜索</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
</script>
<!-- 脚本 -->
<script>
  layui.use(['jquery', 'table', 'sidebar', 'form'], function () {
    var $ = layui.jquery,
      layer = layui.layer,
      table = layui.table,
      sidebar = layui.sidebar,
      form = layui.form;
    var router = layui.router();
    //第一个实例
    table.render({
      method: 'post',
      // size: 'sm',
      limit: 20,
      elem: '#data_hash',
      height: 'full-235',
      url: '/demo/list/data/', //数据接口
      page: true, //开启分页
      cols: [
        [ //表头
          {
            type: 'numbers',
            title: 'No.',
            width: 80,
            sort: true,
            fixed: 'left',
          }, {
          field: 'name',
          title: '用户名',
          width: 120
        }, {
            field: 'codesetSex',
            title: '性别',
            width: 80,
            sort: true
          }, {
            field: 'city',
            title: '城市',
            width: 100
          }, {
            field: 'birthday',
            title: '出生日期',
            width: 100
          }, {
            field: 'point',
            title: '积分',
            width: 110
          }, {
            field: 'deposit',
            title: '存款',
            width: 80,
            sort: true
          }, {
            field: 'descp',
            title: '备注',
            width: 100
          }, {
            field: 'codesetGstatus',
            title: '状态',
            width: 100,
            sort: true
          }, {
            fixed: 'right',
            title: '操作',
            width: 200,
            align: 'center',
            toolbar: '#toolbar_hash'
          }
        ]
      ]
    });

    $('#search_hash').on('click', function () {
      var that = this;
      sidebar.render({
        elem: that,
        content: $('#search_tpl_hash').html(),
        title: '搜索',
        shade: true,
        width: '500px', //可以设置百分比和px
        done: function () {
          form.render();
          //监听提交
          form.on('submit(form_hash)', function (data) {
            // layer.msg(JSON.stringify(data.field));
            table.reload('data_hash', {
              where: data.field
            });
            return false;
          });
        }
      });
    });
    
     //监听行工具事件
     //注：tool 是工具条事件名，list_action 是 table 原始容器的属性 lay-filter="对应的值"
	  table.on('tool(list_action)', function(obj){ 
	    var data = obj.data //获得当前行数据
	    ,layEvent = obj.event; //获得 lay-event 对应的值
	    if(layEvent === 'status'){
	      layer.confirm('将要设置本数据状态吗？', function(index){   
	        $.post('/demo/bo/status', "encCode="+data.encCode, function (res) {
			      layer.msg("设置成功",{time:1*1000},function(){	
			      	location.reload(); // 页面刷新	
			    	})
					}, 'json');
				});
	    } else if(layEvent === 'del'){
	      layer.confirm('请确定删除（本操作不可恢复）', function(index){   
	        $.post('/demo/bo/del', "encCode="+data.encCode, function (res) {
			      layer.msg("删除成功",{time:1*1000},function(){	
			      	location.reload(); // 页面刷新	
			    	})
					}, 'json');
				});
	    } else if(layEvent === 'edit'){  	
	    	$(this).attr("href" ,'#/demo/boaction/EDIT?encCode='+data.encCode);
	    }
	  });
  });
</script>
<script type="text/html" id="LAY_UI_TABLE_NO">
  {{d.LAY_TABLE_INDEX+1}}
</script>
<!-- 样式 -->
<style scoped>
</style>