<!-- 模板 -->
<table class="layui-hide" id="data_hash____________" lay-filter="data_hash____________"></table>
 
<script type="text/html" id="data_hash____________toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="sure-btn">确定</button>
  </div>
</script>

<!-- 脚本 -->
<script>
  layui.use(['jquery', 'table', 'sidebar', 'form'], function () {
    var $ = layui.jquery,
      layer = layui.layer,
      table = layui.table,
      sidebar = layui.sidebar,
      form = layui.form;
    var router = layui.router();
    //第一个实例
    table.render({
      method: 'post',
      // size: 'sm',
      limit: 20,
      elem: '#data_hash____________',
      height: 'full-235',
      url: '/sysd/account/roleset/data/?uid=' +${uid}, //数据接口
      toolbar: '#data_hash____________toolbar',
      page: false, //开启分页
      cols: [
        [ //表头
        	{checkbox: true, fixed: true},
          {
            field: 'id',
            title: 'ID',
            width: 80,
            sort: true,
            fixed: 'left'
          }, {
            field: 'name',
            title: '权限名称',
            width: 120
          }, {
            field: 'remarks',
            title: '备注',
            width: 200
          }
        ]
      ]
    });
    table.on('toolbar(data_hash____________)', function(obj){
	    var checkStatus = table.checkStatus(obj.config.id);
	    switch(obj.event){
	      case 'sure-btn':
	        var data = checkStatus.data;
	        var text = [];
	        $.each(data,function(i,t){
	        	text.push(t.id);
          })

	        $.post('/sysd/account/roleset/save', 'uid=${uid}&treedate='+text, function (res) {
				
					  if (res==1) {
				      layer.open({
				        type: 1
				        ,title: '操作成功' 
				        ,closeBtn: false
				        ,area: '300px;'
				        ,shade: 0.8
				        ,id: 'VO_ACTION' //设定一个id，防止重复弹出
				        ,btn: ['确定']
				        ,btnAlign: 'c'
				        ,moveType: 1 //拖拽模式，0或者1
				        ,yes: function(index){
		        			layer.close(index);         			
		    				},
				      });
						}else{
							layer.msg("操作失败，请稍后重试", {time: 2000});
						}
					}, 'json');
		      return false;
	      break;

	    };    
    });
    
  });
</script>
<!-- 样式 -->
<style scoped>
</style>